@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-heading: var(--font-heading);
  --font-body: var(--font-body);
}

body {
  @apply antialiased;
}

.container {
  @apply mx-auto max-w-7xl;
}
